/* ------------------------------------------------------

Utilities import:

------------------------------------------------------ */
/* ------------------------------------------------------

Global Config:

------------------------------------------------------ */
/* ------------------------------------------------------

Color variables:

------------------------------------------------------ */
/* ------------------------------------------------------

Functions:

------------------------------------------------------ */
/* ------------------------------------------------------

Functions:

------------------------------------------------------ */
/* ------------------------------------------------------

Mixins:

------------------------------------------------------ */
/* ------------------------------------------------------

Mixins:

------------------------------------------------------ */
/* ------------------------------------------------------

Base import:

------------------------------------------------------ */
/* ------------------------------------------------------

Nomralize:

------------------------------------------------------ */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/* 1. Prevent padding and border from affecting element width. */
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  font-weight: 600;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* ------------------------------------------------------

Base:

------------------------------------------------------ */
@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.eot?d18ym6");
  src: url("/fonts/icomoon.eot?d18ym6#iefix") format("embedded-opentype"), url("/fonts/icomoon.ttf?d18ym6") format("truetype"), url("/fonts/icomoon.woff?d18ym6") format("woff"), url("/fonts/icomoon.svg?d18ym6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paperplane:before {
  content: "\e91f";
}

.icon-code:before {
  content: "\e91e";
}

.icon-question-mark:before {
  content: "\e91d";
}

.icon-transfer:before {
  content: "\e905";
}

.icon-headphones:before {
  content: "\e910";
}

.icon-bullhorn:before {
  content: "\e91a";
}

.icon-folder-open:before {
  content: "\e930";
}

.icon-phone:before {
  content: "\e942";
}

.icon-display:before {
  content: "\e956";
}

.icon-mobile:before {
  content: "\e958";
}

.icon-search:before {
  content: "\e986";
}

.icon-lock:before {
  content: "\e98f";
}

.icon-meter:before {
  content: "\e9a6";
}

.icon-briefcase:before {
  content: "\e9ae";
}

.icon-cloud:before {
  content: "\e9c1";
}

.icon-download3:before {
  content: "\e9c7";
}

.icon-earth:before {
  content: "\e9ca";
}

.icon-star-full:before {
  content: "\e9d9";
}

.icon-checkmark:before {
  content: "\ea10";
}

.icon-shuffle:before {
  content: "\ea30";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-embed2:before {
  content: "\ea80";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.icon-trending-up:before {
  content: "\e90d";
}

.icon-arrow-shuffle:before {
  content: "\e90e";
}

.icon-group:before {
  content: "\e90f";
}

.icon-mouse:before {
  content: "\e920";
}

.icon-file_copy:before {
  content: "\e911";
}

.icon-wifi_calling:before {
  content: "\e912";
}

.icon-chat:before {
  content: "\e90b";
}

.icon-monitor:before {
  content: "\e90c";
}

.icon-security:before {
  content: "\e900";
}

.icon-phone_in_talk:before {
  content: "\e901";
}

.icon-envelope:before {
  content: "\e923";
}

.icon-menu:before {
  content: "\e913";
}

.icon-bar-graph:before {
  content: "\e902";
}

.icon-phone-square:before {
  content: "\e922";
}

.icon-flask:before {
  content: "\e921";
}

.icon-shopping-cart:before {
  content: "\e914";
}

.icon-handshake-o:before {
  content: "\e915";
}

.icon-ticket:before {
  content: "\e916";
}

.icon-pencil:before {
  content: "\e917";
}

.icon-money:before {
  content: "\e918";
}

.icon-hdd-o:before {
  content: "\e919";
}

.icon-cloud-download:before {
  content: "\e91b";
}

.icon-cogs:before {
  content: "\e91c";
}

.icon-gears:before {
  content: "\e91c";
}

.icon-dashboard:before {
  content: "\e906";
}

.icon-tachometer:before {
  content: "\e906";
}

.icon-group1:before {
  content: "\e907";
}

.icon-money1:before {
  content: "\e908";
}

.icon-handshake-o1:before {
  content: "\e909";
}

.icon-clipboard:before {
  content: "\e90a";
}

.icon-paste:before {
  content: "\e90a";
}

.icon-laptop:before {
  content: "\e904";
}

.icon-googlescholar:before {
  content: "\e903";
  color: #4885ed;
}

/* ------------------------------------------------------

Base:

------------------------------------------------------ */
/* ------------------------------------------------------

Base Styles:

------------------------------------------------------ */
h1,
.h1 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: inherit;
  margin: 0;
}

h2,
.h2 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: inherit;
  margin: 0;
}

h3,
.h3 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: inherit;
  margin: 0;
}

h4,
.h4 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: inherit;
  margin: 0;
}

h5,
.h5 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: inherit;
  margin: 0;
}

h6,
.h6 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: inherit;
  margin: 0;
}

.h1,
h1 {
  font-size: 2.25rem;
}

.h3,
h3 {
  font-size: 1.625rem;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
}

p {
  line-height: 1.875rem;
  margin-bottom: 25px;
  margin: 0 0 10px;
}

footer {
  padding: 27px 0 0;
  position: relative;
  background-color: #323544;
}

.btn {
  padding: 5px 15px;
  height: auto;
  line-height: 35px;
  font-size: 1.063rem;
  text-transform: uppercase;
  border-radius: 3px;
  white-space: normal;
}

/* ------------------------------------------------------

Layout import:

------------------------------------------------------ */
/* ------------------------------------------------------

Global Config:

------------------------------------------------------ */
/* ------------------------------------------------------

Placeholders:

------------------------------------------------------ */
.container {
  margin-right: auto;
  margin-left: auto;
}

.news, .welcome {
  padding: 50px 0;
}

.newsletter .btn, .news__card .btn, .card__element .btn, .banner .btn, .header .btn {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid transparent;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.welcome .arrow-right:before {
  font-family: icomoon !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  content: "\ea3c";
}

.news .header-row-positioning {
  display: flex;
  justify-content: space-between;
}

.news .hide {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .news .hide {
    display: none;
  }
}

.view-all-container, .service-all {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}
.view-all-container a, .service-all a {
  text-decoration: none;
  font-weight: 600;
  color: #333645;
}
.view-all-container .arrow-right:before, .service-all .arrow-right:before {
  font-family: icomoon !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  content: "\ea3c";
}
@media screen and (min-width: 768px) {
  .view-all-container, .service-all {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .view-all-container, .service-all {
    display: none;
  }
}

/* ------------------------------------------------------

Modules import:

------------------------------------------------------ */
/* -----------------------------------------------------
Container:
------------------------------------------------------ */
/* ------------------------------------------------------

Container:

------------------------------------------------------ */
.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}

/* -----------------------------------------------------
Header:
------------------------------------------------------ */
/* ------------------------------------------------------

Header:

------------------------------------------------------ */
.header .container-top {
  margin-top: 20px;
  margin-bottom: 20px;
}
.header__search-small form {
  margin-top: 11px;
}
.header__search-small form input {
  display: inline-block;
  margin-bottom: 20px;
  padding: 5px 40px 5px 15px;
  width: 100%;
  height: 47px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  line-height: 1.42857143;
  color: #555;
}
@media screen and (min-width: 768px) {
  .header__search-small form input {
    display: none;
  }
}
.header__search-small button {
  position: absolute;
  right: 20px;
  border: none;
  background: none;
  outline: none;
  line-height: 47px;
  font-size: 20px;
  color: #333645;
}
.header__search-small .icon-search:before {
  font-family: icomoon !important;
  position: relative;
  content: "\e986";
}
@media screen and (min-width: 768px) {
  .header__search-small .icon-search:before {
    display: none;
  }
}
.header__search-wide form {
  display: none;
  padding-left: 15px;
  width: 100%;
  height: 100%;
}
.header__search-wide form input {
  display: none;
  padding: 5px 15px;
  width: 250px;
  border-color: #ccc;
  background-color: #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #e5e5e5;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}
@media screen and (min-width: 768px) {
  .header__search-wide form input {
    height: 56px;
    display: inline;
  }
}
@media screen and (min-width: 992px) {
  .header__search-wide form input {
    display: none;
  }
}
@media screen and (min-width: 1260px) {
  .header__search-wide form input {
    height: 56px;
    display: inline;
  }
}
.header__search-wide form button {
  display: inline;
  outline: none;
  margin: 0;
  padding: 7px 20px 3px;
  height: 56px;
  font-size: 1.063rem;
  border: none;
  vertical-align: middle;
  background-color: #999aa2;
  color: #fff;
}
.header__search-wide form button:hover {
  background-color: #7e808a;
  cursor: pointer;
}
.header__search-wide form span:before {
  font-family: icomoon !important;
  font-size: 23px;
  content: "\e986";
  color: #fff;
}
@media screen and (min-width: 768px) {
  .header__search-wide form {
    display: flex;
  }
}
.header .logo {
  max-width: 100%;
  padding-right: 15px;
}
.header__row {
  display: table;
}
.header__row > * {
  padding: 0;
  display: table-cell;
  float: none;
  vertical-align: middle;
  width: 100%;
}
.header .logo img {
  display: block;
  max-width: 100%;
}
.header .icon-phone {
  margin-left: 15px;
}
.header button {
  margin-left: 20px;
}
.header .logo img {
  display: block;
  max-width: 100%;
}
.header .phone {
  margin-bottom: 8px;
}
.header .phone .icon-phone:before {
  font-family: icomoon !important;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  content: "\e901";
}
@media screen and (min-width: 768px) {
  .header .phone {
    display: none;
  }
}
.header .hamburger {
  padding: 7px 0;
  float: right;
}
.header .hamburger button {
  padding: 10px 15px 5px 15px;
  height: 56px;
  background-color: #333645;
  border-color: #333645;
  cursor: pointer;
}
.header .hamburger button:hover {
  background-color: #1d1f28;
}
.header .hamburger .icon-burger:before {
  font-family: icomoon !important;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  font-variant: normal;
  text-transform: none;
  content: "\e913";
  color: white;
}
.header .btn {
  height: 56px;
  font-size: 1.125rem;
  display: none;
  margin-left: 20px;
  background-color: rgb(109, 197, 224);
}
@media screen and (min-width: 992px) {
  .header .btn {
    display: block;
  }
}
.header .btn span {
  line-height: 0px;
  vertical-align: middle;
}
.header .btn .icon-mouse,
.header .btn .icon-paperplane:before {
  line-height: 45px;
  margin-right: 5px;
}
.header .btn .icon-mouse:before,
.header .btn .icon-paperplane:before {
  font-family: icomoon !important;
  font-size: 1.438rem;
  font-style: normal;
  font-weight: 900;
  font-variant: normal;
  text-transform: none;
  content: "\e920";
  color: white;
}
.header .btn .icon-paperplane:before {
  content: "\e91f";
}
.header .btn-support {
  background-color: #4183d7;
  border-color: #4183d7;
}
.header .btn-support:hover {
  background-color: #286abd;
}
.header .btn-contact {
  background-color: #999aa2;
  border-color: #999aa2;
}
.header .btn-contact:hover {
  background-color: #7e808a;
}

/* -----------------------------------------------------
Fixed items (Manage consent and Sofia chat):
------------------------------------------------------ */
/* ------------------------------------------------------

Manage Consent:

------------------------------------------------------ */
.manage-consent {
  display: block;
}
.manage-consent button {
  position: fixed;
  padding: 0 10px;
  bottom: 0;
  left: 0;
  z-index: 10;
  border: solid #75788a;
  border-width: 1px 1px 0 0;
  border-radius: 0;
  border-top-right-radius: 10px;
  background-color: #75788a;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 22px;
  color: #fff;
  cursor: pointer;
}
.manage-consent button:hover {
  background-color: #9193a1;
  border-color: #9193a1;
}

/* ------------------------------------------------------

Chat function:

------------------------------------------------------ */
.sofia {
  display: block;
}
.sofia button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #333645;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 0;
  z-index: 20;
}
.sofia button span:before {
  font-family: icomoon !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: white;
  font-size: 30px;
  content: "\e90b";
}

/* -----------------------------------------------------
Nav:
------------------------------------------------------ */
/* ------------------------------------------------------

Navigation:

------------------------------------------------------ */
.navigation {
  display: none;
  background-color: #333645;
}
@media screen and (min-width: 992px) {
  .navigation {
    display: flex;
  }
}

.nav {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.nav__item {
  width: 40%;
  max-width: 40%;
  padding: 0 25px;
  align-items: center;
  line-height: 1;
}
.nav__item:hover [class*=nav-icon] {
  color: #fff;
}
.nav__item:hover .triangle {
  display: block;
}
.nav__item:hover .sub-menu {
  display: flex;
}
.nav__item li {
  margin: 20px;
  flex: 1 calc((100% - 0px) / 7);
}
.nav__item a {
  display: block;
  padding: 19px 0 18px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.125rem;
  color: #fff;
  user-select: none;
}
.nav__item small {
  display: block;
  text-align: center;
  font-size: 0.625rem;
}
.nav__item [class*=nav-icon] {
  font-family: icomoon !important;
  display: block;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.438rem;
}
.nav .n-bespoke a span {
  color: #67809f;
}
.nav .n-bespoke .nav-icon:before {
  content: "\e90c";
}
.nav .n-bespoke:hover {
  background-color: #67809f;
}
.nav .n-bespoke .sub-menu {
  background-color: #526781;
}
.nav .n-bespoke .triangle {
  border-color: transparent transparent #67809f transparent;
}
.nav .n-it a span {
  color: #4183d7;
}
.nav .n-it .nav-icon:before {
  content: "\e956";
}
.nav .n-it:hover {
  background-color: #4183d7;
}
.nav .n-it .sub-menu {
  background-color: #286abd;
}
.nav .n-it .triangle {
  border-color: transparent transparent #4183d7 transparent;
}
.nav .n-marketting a span {
  color: #2ecc71;
}
.nav .n-marketting .nav-icon:before {
  content: "\e902";
}
.nav .n-marketting:hover {
  background-color: #2ecc71;
}
.nav .n-marketting .sub-menu {
  background-color: #25a25a;
}
.nav .n-marketting .triangle {
  border-color: transparent transparent #2ecc71 transparent;
}
.nav .n-telecoms a span {
  color: #d64541;
}
.nav .n-telecoms .nav-icon:before {
  content: "\e901";
}
.nav .n-telecoms:hover {
  background-color: #d64541;
}
.nav .n-telecoms .sub-menu {
  background-color: #bc2c28;
}
.nav .n-telecoms .triangle {
  border-color: transparent transparent #d64541 transparent;
}
.nav .n-web a span {
  color: #926fb1;
}
.nav .n-web .nav-icon:before {
  content: "\ea80";
}
.nav .n-web:hover {
  background-color: #926fb1;
}
.nav .n-web .sub-menu {
  background-color: #79539a;
}
.nav .n-web .triangle {
  border-color: transparent transparent #926fb1 transparent;
}
.nav .n-cyber a span {
  color: #f62459;
}
.nav .n-cyber .nav-icon:before {
  content: "\e900";
}
.nav .n-cyber:hover {
  background-color: #f62459;
}
.nav .n-cyber .sub-menu {
  background-color: #de093f;
}
.nav .n-cyber .triangle {
  border-color: transparent transparent #f62459 transparent;
}
.nav .n-developer a span {
  color: #ce4125;
}
.nav .n-developer .nav-icon:before {
  content: "\e903";
}
.nav .n-developer:hover {
  background-color: #ce4125;
}
.nav .n-developer .sub-menu {
  background-color: #a3331d;
}
.nav .n-developer .triangle {
  border-color: transparent transparent #ce4125 transparent;
}

.sub-menu {
  display: none;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  position: absolute;
  padding: 50px 0;
  left: 0;
  z-index: 10;
  background-color: #a3331d;
  color: #fff;
}
.sub-menu .h2 {
  width: 100%;
  flex: 1 0 100%;
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  margin-left: 15px;
  margin-bottom: 20px;
}
.sub-menu ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}
.sub-menu ul li {
  display: flex;
  flex: 1 0 25%;
  font-size: 1.2rem;
  align-items: center;
}
.sub-menu__inner {
  position: relative;
  width: 1250px;
  display: flex;
  background-color: inherit;
}
.sub-menu .sub-menu-text {
  display: inline;
  text-transform: capitalize;
}
.sub-menu .sub-menu-text:hover {
  text-decoration: underline;
}
.sub-menu [class^=icon] {
  position: relative;
  margin-top: 0;
  margin-right: 10px;
  font-size: 20px;
  color: #fff;
}

.triangle {
  display: none;
  position: absolute;
  left: -21%;
  top: 100%;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 83.5px 40px 83.5px;
  border-color: transparent transparent #ff4532 transparent;
  transform: rotate(180deg);
  z-index: 2000;
}
@media screen and (max-width: 1259px) {
  .triangle {
    border-width: 0 62px 40px 62px;
    left: -33%;
  }
}

/* -----------------------------------------------------
Footer styles:
------------------------------------------------------ */
/* ------------------------------------------------------

Banner:

------------------------------------------------------ */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 550px;
  background-image: url("/img/netmatter02.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
}
.banner__container {
  display: flex;
  margin-top: 220px;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner .h1 {
  flex: 2 0 calc(20% - 20px);
}
.banner p {
  margin-top: 20px;
  font-size: 1.25rem;
  font-weight: 600;
  flex: 2 0 calc(20% - 20px);
}
.banner img {
  object-fit: cover;
}
.banner .btn-container {
  flex: 1 0 calc(30% - 20px);
  margin-top: 25px;
}
.banner .btn {
  padding: 10px 20px 10px 20px;
  background-color: #926fb1;
  border-color: #926fb1;
  font-size: 1.25rem;
}
.banner .btn:hover {
  background-color: #79539a;
  border-color: #79539a;
}
.banner .btn div {
  margin-top: 5px;
  display: inline;
  position: relative;
  margin-left: 5px;
  top: 1px;
}
.banner .btn .arrow-right:before {
  font-family: icomoon !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  content: "\ea3c";
}
.banner__nav {
  flex: 1 0 calc(70% - 20px);
}
.banner__nav__container {
  margin-top: 90px;
  display: flex;
  gap: 25px;
}
.banner__nav__dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
}
.banner__nav__dot:hover {
  background-color: #fff;
}
.banner__nav .selected {
  background-color: #fff;
}
.banner__nav .selected span:after {
  content: "O";
}
.banner__nav .selected span {
  position: relative;
  right: 6.35px;
  top: -10.4px;
  font-size: 29px;
}
@media screen and (min-width: 992px) {
  .banner {
    background: url("/img/netmatter02.jpg"), linear-gradient(270deg, transparent 25%, #000);
    background-position: center;
    background-size: cover;
    z-index: 3;
    width: 100%;
  }
  .banner p {
    text-align: left;
    font-size: 1.625rem;
    line-height: 2.5rem;
  }
  .banner .h1,
  .banner p,
  .banner .btn-container {
    align-self: flex-start;
  }
  .banner .h1 {
    font-size: 4rem;
  }
}
/* -----------------------------------------------------
Footer styles:
------------------------------------------------------ */
/* -----------------------------------------------------

Slide show section:

------------------------------------------------------ */
.slideshow {
  display: flex;
  gap: 90px;
  overflow-x: clip;
  object-fit: fill;
  align-items: center;
}
.slideshow__item {
  position: relative;
}
.slideshow__item__img {
  max-height: auto;
  width: auto;
  filter: grayscale(1);
}
.slideshow__item__description {
  display: none;
  position: absolute;
  left: -200px;
  right: -200px;
  bottom: 100%;
  margin-bottom: 50px;
  z-index: 4444;
}
.slideshow__item:hover .slideshow__item__description {
  display: block;
}
.slideshow__item:hover .slideshow__item__img {
  filter: grayscale(0);
}
.slideshow-padding {
  padding: 50px 0px;
}

.height {
  height: 70px;
}

.box {
  user-select: auto;
  padding: 20px;
  margin: 0 auto 25px;
  font-size: 16px;
  background-color: #333645;
  max-width: 280px;
  text-align: center;
  color: white;
}

.arrow {
  display: block;
  position: absolute;
  left: 30%;
  top: 75%;
  margin-left: 36px;
  margin-top: auto;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 83.5px 40px 83.5px;
  border-color: transparent transparent #333645 transparent;
  transform: rotate(180deg);
  z-index: 2000;
}

/* -----------------------------------------------------
Our services styles:
------------------------------------------------------ */
/* ------------------------------------------------------

Card:

------------------------------------------------------ */
.service {
  padding-top: 50px;
}
.service .h1 {
  color: #333645;
  font-weight: 600;
  font-size: 2.7rem;
  text-align: left;
}
.service .header-row-positioning {
  display: flex;
  justify-content: space-between;
}
.service .hide {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .service .hide {
    display: none;
  }
}
.service .underline-hover:hover {
  text-decoration: underline;
}
.service h2 {
  position: relative;
  margin: 0 0 11px;
  padding-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 400;
  color: #333645;
}
.service a {
  text-decoration: none;
  font-weight: 600;
  color: #333645;
}
.service a .arrow-right:before {
  font-family: icomoon !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  content: "\ea3c";
}
.service p {
  margin-bottom: 13px;
  margin-top: 0;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: #333645;
}

.card {
  display: block;
  margin-top: 30px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
}
.bespoke .card-icon:before {
  content: "\e90c";
}
.bespoke .card__element__icon:has(.card-icon) {
  background-color: #67809f;
}
.bespoke .btn {
  border-color: #67809f;
  background-color: #67809f;
}
.bespoke:hover {
  background-color: #67809f;
}
.bespoke:hover .card__element__icon:has(.card-icon) {
  background-color: #fff;
  color: #67809f;
}
.bespoke:hover .card-btn-container .btn {
  background-color: #fff;
  color: #67809f;
}

.it .card-icon:before {
  content: "\e956";
}
.it .card__element__icon:has(.card-icon) {
  background-color: #4183d7;
}
.it .btn {
  border-color: #4183d7;
  background-color: #4183d7;
}
.it:hover {
  background-color: #4183d7;
}
.it:hover .card__element__icon:has(.card-icon) {
  background-color: #fff;
  color: #4183d7;
}
.it:hover .card-btn-container .btn {
  background-color: #fff;
  color: #4183d7;
}

.marketting .card-icon:before {
  content: "\e902";
}
.marketting .card__element__icon:has(.card-icon) {
  background-color: #2ecc71;
}
.marketting .btn {
  border-color: #2ecc71;
  background-color: #2ecc71;
}
.marketting:hover {
  background-color: #2ecc71;
}
.marketting:hover .card__element__icon:has(.card-icon) {
  background-color: #fff;
  color: #2ecc71;
}
.marketting:hover .card-btn-container .btn {
  background-color: #fff;
  color: #2ecc71;
}

.telecoms .card-icon:before {
  content: "\e901";
}
.telecoms .card__element__icon:has(.card-icon) {
  background-color: #d64541;
}
.telecoms .btn {
  border-color: #d64541;
  background-color: #d64541;
}
.telecoms:hover {
  background-color: #d64541;
}
.telecoms:hover .card__element__icon:has(.card-icon) {
  background-color: #fff;
  color: #d64541;
}
.telecoms:hover .card-btn-container .btn {
  background-color: #fff;
  color: #d64541;
}

.web .card-icon:before {
  content: "\ea80";
}
.web .card__element__icon:has(.card-icon) {
  background-color: #926fb1;
}
.web .btn {
  border-color: #926fb1;
  background-color: #926fb1;
}
.web:hover {
  background-color: #926fb1;
}
.web:hover .card__element__icon:has(.card-icon) {
  background-color: #fff;
  color: #926fb1;
}
.web:hover .card-btn-container .btn {
  background-color: #fff;
  color: #926fb1;
}

.cyber .card-icon:before {
  content: "\e900";
}
.cyber .card__element__icon:has(.card-icon) {
  background-color: #f62459;
}
.cyber .btn {
  border-color: #f62459;
  background-color: #f62459;
}
.cyber:hover {
  background-color: #f62459;
}
.cyber:hover .card__element__icon:has(.card-icon) {
  background-color: #fff;
  color: #f62459;
}
.cyber:hover .card-btn-container .btn {
  background-color: #fff;
  color: #f62459;
}

.developer .card-icon:before {
  content: "\e903";
}
.developer .card__element__icon:has(.card-icon) {
  background-color: #ce4125;
}
.developer .btn {
  border-color: #ce4125;
  background-color: #ce4125;
}
.developer:hover {
  background-color: #ce4125;
}
.developer:hover .card__element__icon:has(.card-icon) {
  background-color: #fff;
  color: #ce4125;
}
.developer:hover .card-btn-container .btn {
  background-color: #fff;
  color: #ce4125;
}

.card__element {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card__element span {
  display: block;
}
.card__element__icon {
  height: 65px;
  width: 65px;
  margin: 0 auto 17px;
  border-radius: 50%;
  background-color: #333645;
  color: #fff;
}
.card__element [class*=card-icon] {
  font-family: icomoon !important;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  line-height: 62px;
}
.card:hover {
  top: -10px;
  border-color: transparent;
  transition: 0.5s ease;
  transform: translateY(-10px);
}
.card:hover p,
.card:hover h2 {
  color: #fff;
}
.card:hover .card__element__icon:has(.card-icon) {
  background-color: #fff;
}

.service-all {
  padding-top: 30px;
}

.card-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.card-flex .card {
  flex: 1 0 100%;
}
@media screen and (min-width: 768px) {
  .card-flex .card:nth-child(4) {
    flex: 1 0 calc(50% - 20px);
  }
  .card-flex .card:nth-child(5) {
    flex: 1 0 calc(50% - 20px);
  }
  .card-flex .card:nth-child(6) {
    flex: 1 0 calc(50% - 20px);
  }
  .card-flex .card:nth-child(7) {
    flex: 1 0 calc(50% - 20px);
  }
}
@media screen and (min-width: 992px) {
  .card-flex .card:nth-child(1) {
    flex: 1 0 calc(33% - 20px);
  }
  .card-flex .card:nth-child(2) {
    flex: 1 0 calc(33% - 20px);
  }
  .card-flex .card:nth-child(3) {
    flex: 1 0 calc(33% - 20px);
  }
  .card-flex .card:nth-child(4) {
    flex: 1 0 calc(25% - 20px);
  }
  .card-flex .card:nth-child(5) {
    flex: 1 0 calc(25% - 20px);
  }
  .card-flex .card:nth-child(6) {
    flex: 1 0 calc(25% - 20px);
  }
  .card-flex .card:nth-child(7) {
    flex: 1 0 calc(25% - 20px);
  }
}

.card-btn-container {
  margin-top: auto;
}

/* -----------------------------------------------------
Misc styles:
------------------------------------------------------ */
/* ------------------------------------------------------

Miscellaneous Styles:

------------------------------------------------------ */
/* -----------------------------------------------------
Welcome to netmatters styles:
------------------------------------------------------ */
/* -----------------------------------------------------

Welcome to netmatters section:

------------------------------------------------------ */
.welcome {
  display: flex;
  padding-bottom: 50;
  background-color: #333645;
}
.welcome .container {
  display: flex;
  gap: 50px;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .welcome .container {
    justify-content: space-evenly;
    flex-direction: row;
    gap: 30px;
  }
}
.welcome .container div {
  flex: 1;
}
.welcome p {
  color: #fff;
  margin-bottom: 25px;
}
.welcome h1,
.welcome .h1 {
  margin-top: -4px;
  margin-bottom: 40px;
  color: #fff !important;
}
.welcome p {
  color: #fff;
  margin-bottom: 25px;
}
.welcome h1,
.welcome .h1 {
  margin-top: -4px;
  margin-bottom: 40px;
  color: #fff !important;
}
.welcome .star {
  display: inline-block;
}
.star:before {
  display: inline-block;
  font-family: icomoon !important;
  color: orange;
  margin-bottom: 25px;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  content: "\e9d9";
}

.welcome .btn-primary-inverse {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 6px;
  font-size: 20px;
  color: #fff;
  background-color: #272936;
  cursor: pointer;
}
.welcome .btn-primary-inverse:hover {
  background-color: #121318;
}
.welcome .btn-google {
  background-color: #4387f6;
}
.welcome .btn-google:hover {
  background-color: #1268f4;
}
.welcome .btn-trustpilot {
  background-color: #00b67b;
}
.welcome .btn-trustpilot:hover {
  background-color: #008359;
}
.welcome .btn-margin {
  margin-bottom: 50px !important;
}
.welcome .quote {
  font-weight: 600;
  font-size: 1.3rem;
  font-style: italic;
}
.welcome .quote-author {
  font-weight: 600;
  color: #a3a8ac;
  font-size: 1.1rem;
}
.welcome .quote-author a {
  color: #fff;
  text-decoration: none;
}
.welcome .btn-group {
  display: flex;
  gap: 20px 12.5px;
  flex-flow: row wrap;
}
.welcome .author-box {
  margin-bottom: 65px;
}
@media screen and (min-width: 768px) {
  .welcome .author-box {
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 1260px) {
  .welcome .author-box {
    margin-bottom: 51px;
  }
}

/* -----------------------------------------------------
Latest news styles:
------------------------------------------------------ */
/* -----------------------------------------------------

Latest news section:

------------------------------------------------------ */
.news h3 a {
  text-decoration: none;
  font-weight: 600;
  color: #333645;
}
.news h3 .arrow-right:before {
  color: #333645;
  font-family: icomoon !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  content: "\ea3c";
}
.news .h1 {
  margin: 0 0 10px;
  color: #333645;
}
.news .underline-hover:hover {
  text-decoration: underline;
}
.news .card-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.news .card-flex .news__card {
  flex: 1 0 calc(100% - 20px);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .news .card-flex .news__card {
    flex: 1 0 calc(50% - 20px);
  }
  .news .card-flex .news__card:nth-child(3) {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .news .card-flex .news__card {
    flex: 1 0 calc(33% - 20px);
  }
  .news .card-flex .news__card:nth-child(3) {
    display: block;
  }
}
.news__card {
  margin-top: 30px;
  top: 0;
  position: relative;
  font-size: 0.8125rem;
  transition: 0.5s ease;
}
.news__card .btn {
  background-color: #926fb1;
  border-color: #926fb1;
}
.news__card:hover {
  top: -10px;
  border-color: transparent;
  transition: 0.5s ease;
  transform: translateY(-10px);
}
.news__card__info {
  padding: 30px;
  border: 1px solid #ccc;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}
.news__card__info h3 {
  margin: 0 0 15px;
  font-size: 1rem;
  line-height: 1.5rem;
}
.news__card__info h3 a {
  color: #926fb1;
  font-weight: 600;
}
.news__card__info h3 span {
  display: inline;
  vertical-align: middle;
  color: rgba(51, 54, 69, 0.5);
  text-transform: uppercase;
  font-size: 0.85rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.news__card__info p {
  line-height: 1.375rem;
  font-size: 0.8125rem;
  margin-bottom: 25px;
}
.news__card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.news__card__image {
  display: inline;
  position: relative;
  max-width: 100%;
  width: 100%;
  height: auto;
  justify-content: center;
  overflow: clip;
}
.news__card__image a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news__card__creator {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}
.news__card__creator__pfp img {
  border-radius: 50%;
}
.news__card__creator__info {
  line-height: 1.375rem;
  color: #666;
  font-size: 0.875;
}
.news__card__creator__info strong {
  font-weight: 600;
  color: #333645;
  font-size: 0.875rem;
}
.news .n-web h3 a {
  color: #926fb1;
}
.news .n-web .btn {
  border-color: #926fb1;
  background-color: #926fb1;
}
.news .n-web .tooltip {
  background-color: #926fb1;
}
.news .n-bespoke h3 a {
  color: #67809f;
}
.news .n-bespoke .btn {
  border-color: #67809f;
  background-color: #67809f;
}
.news .n-bespoke .tooltip {
  background-color: #67809f;
}
.news .n-telecoms h3 a {
  color: #d64541;
}
.news .n-telecoms .btn {
  border-color: #d64541;
  background-color: #d64541;
}
.news .n-telecoms .tooltip {
  background-color: #d64541;
}

.view-all-container {
  margin-top: 50px;
}

.tooltip {
  position: absolute;
  padding: 0 10px;
  top: 10px;
  right: 0;
  z-index: 1;
  background-color: #333645;
  font-size: 0.75rem;
  line-height: 1.438rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
.tooltip:hover {
  text-decoration: underline;
}

/* -----------------------------------------------------
Newsletter sign-up styles:
------------------------------------------------------ */
/* ------------------------------------------------------

Email Newsletter Sign-up:

------------------------------------------------------ */
.newsletter {
  background-color: #ddd;
}
.newsletter h2 {
  margin: 0 0 15px;
  font-size: 2rem;
  font-weight: 400;
  color: #333645;
}
.newsletter form {
  padding: 50px 0;
}
.newsletter form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}
.newsletter form input {
  height: 47px;
  width: 100%;
  padding-left: 10px;
}
.newsletter form div:has(label) {
  margin-bottom: 15px;
}
.newsletter .form-sign-up__fields {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 991px) {
  .newsletter .form-sign-up__fields {
    gap: 0;
  }
}
.newsletter .form-sign-up__group {
  flex: 1 1 450px;
  gap: 0px;
}
.newsletter .btn {
  background-color: #333645;
  border-color: #333645;
}
.newsletter .btn:hover {
  background-color: #1d1f28;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
}

.checkbox-draw {
  margin-bottom: 0;
  margin-right: 20px;
  flex: 0 0 32px;
  position: relative;
  z-index: 1;
  width: 32px;
  height: 32px;
  float: left;
  border: 3px solid #333645;
}
.checkbox-draw .check {
  visibility: hidden;
  top: -11px;
  left: -1.5px;
  height: 48px;
  width: 30px;
  position: absolute;
  float: left;
  border-radius: 3px;
  accent-color: #333645;
}
.checkbox-draw .icon-checkmark {
  display: none;
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 20px;
  color: black;
}
.checkbox-draw__checked {
  display: none;
  background-color: #333645;
}
.checkbox-draw__unchecked {
  display: block;
}

.check:checked {
  visibility: visible;
}

input {
  display: flex;
}

/* -----------------------------------------------------
Footer styles:
------------------------------------------------------ */
/* ------------------------------------------------------

Footer:

------------------------------------------------------ */
.footer {
  position: relative;
  letter-spacing: 0.4px;
  color: #fff;
}
.footer h4 {
  margin: 24px 0 26px 0px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}
.footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0.8125rem;
  line-height: 1.375rem;
}
.footer ul a {
  color: #fff;
  text-decoration: none;
}
.footer ul a:hover {
  text-decoration: underline;
}
.footer__container {
  margin-bottom: 30px;
}
.footer .social {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}
.footer__social-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__social-box .follow-btn {
  padding: 12px 22px 16px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #212330;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
}
@media (max-width: 480px) {
  .footer__social-box .follow-btn {
    width: 35%;
  }
}
.footer__social-box .facebook:hover {
  background-color: #3b5998;
}
.footer__social-box .linkedin:hover {
  background-color: #0077b5;
}
.footer__social-box .twitter:hover {
  background-color: #00aced;
}
.footer__social-box .instagram:hover {
  background-color: #d93175;
}
.footer__social-box span {
  position: relative;
  top: 4px;
  color: white;
}

.footer-secondary {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #212330;
  font-size: 0.8125rem;
  color: white;
}
.footer-secondary ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-secondary ul a {
  color: #fff;
  text-decoration: none;
}
.footer-secondary ul a:hover {
  text-decoration: underline;
}
.footer-secondary__license {
  padding-left: 15px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .footer-secondary__license {
    display: flex;
    flex-direction: column;
  }
  .footer-secondary__license ul {
    display: flex;
    gap: 5px;
  }
  .footer-secondary__license li:last-child::before {
    content: "- ";
  }
}

.footer-logo {
  display: block;
  width: 250px;
}
.footer-logo img {
  width: 100%;
}

.footer-logo-large {
  display: none;
}

.lists-container {
  flex: 0 0 100%;
  flex-wrap: nowrap;
}

@media screen and (min-width: 768px) {
  .lists {
    display: flex;
    flex-wrap: wrap;
  }
  .lists .footer__container {
    flex: 1 0 calc(50% - 10px);
  }
  .lists .lists-container {
    flex: 0 0 100%;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 992px) {
  .lists {
    display: flex;
    flex-wrap: wrap;
  }
  .lists .footer__container {
    flex: 1 0 calc(17.5% - 10px);
  }
  .lists .lists-container {
    margin-top: 20px;
    flex: 1 0 calc(30% - 10px);
    flex-wrap: nowrap;
  }
  .footer-logo {
    display: none;
  }
  .footer-logo-large {
    display: block;
    width: 250px;
  }
  .footer-logo-large img {
    width: 100%;
  }
}

/*# sourceMappingURL=application.css.map */
