/* ------------------------------------------------------

Banner:

------------------------------------------------------ */

//This class is used on the banner divison
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 550px;
  background-image: url("/img/netmatter02.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: $white;

  .h1 {
    margin-top: 100px;
  }

  p {
    font-size: 1.25rem;
    font-weight: 600;
  }

  img {
    object-fit: cover;
  }

  .btn {
    @extend %btn;
    padding: 10px 20px 10px 20px;
    background-color: map-get($color-map, web-design);
    border-color: map-get($color-map, web-design);
    font-size: 1.25rem;

    div {
      margin-top: 5px;
      display: inline;
      position: relative;
      margin-left: 5px;
      top: 1px;
    }

    .arrow-right:before {
      font-family: icomoon !important;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      content: "\ea3c";
    }
  }

  @include s-e(nav) {
    @include s-e(container) {
      display: flex;
      margin-top: 90px;
      gap: 25px;
    }

    @include s-e(dot) {
      display: inline-block;
      height: 10px;
      width: 10px;
      background-color: #bbb;
      border-radius: 50%;

      &:hover {
        background-color: #fff;
      }
    }
  }
}
