/* ------------------------------------------------------

Mixins:

------------------------------------------------------ */

//Elements and modifiers
@mixin s-e($element) {
  &__#{$element} {
    @content;
  }
}

@mixin s-m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

//Media queries
@mixin mq($break) {
  @if $break == "small" {
    @media (min-width: 0px) and (max-width: 767px) {
      @content;
    }
  } @else if $break == "medium" {
    @media screen and (min-width: 768px) {
      @content;
    }
  } @else if $break == "large" {
    @media screen and (min-width: 992px) {
      @content;
    }
  }
}

//Card mixin
//This mixin is used when generating card colors and icons
@mixin card-type($type) {
  //If statemens to check card type
  @if $type == "bespoke" {
    //I really dislike the use of global, and if I have spare time I will look to change this a bit.
    $color: map-get($color-map, bespoke-software) !global;
    $icon: "\e90c" !global;
  } @else if $type == "it" {
    $color: map-get($color-map, it-support) !global;
    $icon: "\e956" !global;
  } @else if $type == "marketting" {
    $color: map-get($color-map, digital-marketting) !global;
    $icon: "\e902" !global;
  } @else if $type == "telecoms" {
    $color: map-get($color-map, telecom) !global;
    $icon: "\e901" !global;
  } @else if $type == "web" {
    $color: map-get($color-map, web-design) !global;
    $icon: "\ea80" !global;
  } @else if $type == "cyber" {
    $color: map-get($color-map, cyber-security) !global;
    $icon: "\e900" !global;
  } @else if $type == "developer" {
    $color: map-get($color-map, developer) !global;
    $icon: "\e903" !global;
  }
  //Assigning card icon and colors
  .card-icon:before {
    @if (icon != null) {
      content: $icon;
    }
  }
  .card__element__icon:has(.card-icon) {
    background-color: $color;
  }
  .btn {
    border-color: $color;
    background-color: $color;
  }
  //Hover effects on cards
  &:hover {
    background-color: $color;

    .card__element__icon:has(.card-icon) {
      background-color: $white;
      color: $color;
    }

    .card-btn-container {
      .btn {
        background-color: $white;
        color: $color;
      }
    }
  }
}

//News card mixin
@mixin news-card($type) {
  @if ($type == "web") {
    $color: map-get($color-map, web-design) !global;
  } @else if ($type == "bespoke") {
    $color: map-get($color-map, bespoke-software) !global;
  } @else if ($type == "telecoms") {
    $color: map-get($color-map, telecom) !global;
  }
  h3 a {
    color: $color;
  }
  .btn {
    border-color: $color;
    background-color: $color;
  }
  .tooltip {
    background-color: $color;
  }
}

@mixin nav-type($type) {
  //If statemens to check card type
  @if $type == "bespoke" {
    //I really dislike the use of global, and if I have spare time I will look to change this a bit.
    $color: map-get($color-map, bespoke-software) !global;
    $icon: "\e90c" !global;
  } @else if $type == "it" {
    $color: map-get($color-map, it-support) !global;
    $icon: "\e956" !global;
  } @else if $type == "marketting" {
    $color: map-get($color-map, digital-marketting) !global;
    $icon: "\e902" !global;
  } @else if $type == "telecoms" {
    $color: map-get($color-map, telecom) !global;
    $icon: "\e901" !global;
  } @else if $type == "web" {
    $color: map-get($color-map, web-design) !global;
    $icon: "\ea80" !global;
  } @else if $type == "cyber" {
    $color: map-get($color-map, cyber-security) !global;
    $icon: "\e900" !global;
  } @else if $type == "developer" {
    $color: map-get($color-map, developer) !global;
    $icon: "\e903" !global;
  }
  //Assigning card icon and colors
  a span {
    color: $color;
  }

  .nav-icon:before {
    @if (icon != null) {
      content: $icon;
    }
  }

  &:hover {
    background-color: $color;
  }

  .sub-menu {
    background-color: darken($color, 10%);
  }

  .triangle {
    border-color: transparent transparent $color transparent;
  }
}
