/* ------------------------------------------------------

Placeholders:

------------------------------------------------------ */

//Center alignment of block elements
%center {
  margin-right: auto;
  margin-left: auto;
}

//Used in each 'section' for the wrapper / container
%section {
  padding: 50px 0;
}

//This button placeholder applies to msot buttons throughout the page
%btn {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid transparent;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

//Basic placeholder used a common style used on arrows throughout the page
%arrow-right {
  font-family: icomoon !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  content: "\ea3c";
}

%header-row-positioning {
  display: flex;
  justify-content: space-between;
}

%hide {
  margin-top: 10px;

  @include mq(small) {
    display: none;
  }
}

//This placeholder is used for the anchors in our services and latest news sections, particularly the ones that display at the bottom
%section-anchor {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;

  a {
    text-decoration: none;
    font-weight: 600;
    color: $tuna;
  }

  .arrow-right:before {
    font-family: icomoon !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\ea3c";
  }

  @include mq(medium) {
    display: none;
  }
  @include mq(large) {
    display: none;
  }
}

%disabled {
  pointer-events: none;
}
