/* ------------------------------------------------------

Base Styles:

------------------------------------------------------ */

// Can easily write a for-loop to produce this result
// .h1, .h2, .h3, .h4, .h5, .h6,
// h1, h2, h3, h4, h5, h6 {
//   font-family: inherit;
// }

//For loop to generate all base headings
@for $i from 1 through 6 {
  h#{$i},
  .h#{$i} {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
    margin: 0;
  }
}

.h1,
h1 {
  font-size: 2.25rem;
}

.h3,
h3 {
  font-size: 1.625rem;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
}

p {
  line-height: 1.875rem;
  margin-bottom: 25px;
  margin: 0 0 10px;
}

footer {
  padding: 27px 0 0;
  position: relative;
  background-color: #323544;
}

input[type="text"]:focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(91, 192, 222, 0.6);
}

input[type="email"]:focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(91, 192, 222, 0.6);
}

.btn {
  padding: 5px 15px;
  height: auto;
  line-height: 35px;
  font-size: 1.063rem;
  text-transform: uppercase;
  border-radius: 3px;
  white-space: normal;
}
