@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.eot?d18ym6");
  src: url("/fonts/icomoon.eot?d18ym6#iefix") format("embedded-opentype"),
    url("/fonts/icomoon.ttf?d18ym6") format("truetype"),
    url("/fonts/icomoon.woff?d18ym6") format("woff"),
    url("/fonts/icomoon.svg?d18ym6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paperplane:before {
  content: "\e91f";
}
.icon-code:before {
  content: "\e91e";
}
.icon-question-mark:before {
  content: "\e91d";
}
.icon-transfer:before {
  content: "\e905";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-phone:before {
  content: "\e942";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-search:before {
  content: "\e986";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-meter:before {
  content: "\e9a6";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-cloud:before {
  content: "\e9c1";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-shuffle:before {
  content: "\ea30";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-trending-up:before {
  content: "\e90d";
}
.icon-arrow-shuffle:before {
  content: "\e90e";
}
.icon-group:before {
  content: "\e90f";
}
.icon-mouse:before {
  content: "\e920";
}
.icon-file_copy:before {
  content: "\e911";
}
.icon-wifi_calling:before {
  content: "\e912";
}
.icon-chat:before {
  content: "\e90b";
}
.icon-monitor:before {
  content: "\e90c";
}
.icon-security:before {
  content: "\e900";
}
.icon-phone_in_talk:before {
  content: "\e901";
}
.icon-envelope:before {
  content: "\e923";
}
.icon-menu:before {
  content: "\e913";
}
.icon-bar-graph:before {
  content: "\e902";
}
.icon-phone-square:before {
  content: "\e922";
}
.icon-flask:before {
  content: "\e921";
}
.icon-shopping-cart:before {
  content: "\e914";
}
.icon-handshake-o:before {
  content: "\e915";
}
.icon-ticket:before {
  content: "\e916";
}
.icon-pencil:before {
  content: "\e917";
}
.icon-money:before {
  content: "\e918";
}
.icon-hdd-o:before {
  content: "\e919";
}
.icon-cloud-download:before {
  content: "\e91b";
}
.icon-cogs:before {
  content: "\e91c";
}
.icon-gears:before {
  content: "\e91c";
}
.icon-dashboard:before {
  content: "\e906";
}
.icon-tachometer:before {
  content: "\e906";
}
.icon-group1:before {
  content: "\e907";
}
.icon-money1:before {
  content: "\e908";
}
.icon-handshake-o1:before {
  content: "\e909";
}
.icon-clipboard:before {
  content: "\e90a";
}
.icon-paste:before {
  content: "\e90a";
}
.icon-laptop:before {
  content: "\e904";
}
.icon-googlescholar:before {
  content: "\e903";
  color: #4885ed;
}
