/* ------------------------------------------------------

Banner:

------------------------------------------------------ */

//This class is used on the banner divison
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  gap: 20px;
  background-image: url("/img/netmatter02.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  color: $white;
  text-align: center;

  p {
    font-size: 1.25rem;
    font-weight: 600;
  }

  img {
    object-fit: cover;
  }

  .btn {
    font-size: 1.25rem;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    background-color: #926fb1;
    border-color: #926fb1;
    border: 1px solid transparent;
    vertical-align: middle;
    font-weight: 400;
    color: #fff;
    cursor: pointer;

    div {
      margin-left: 5px;
      position: relative;
      top: 1px;
      display: inline;
    }

    .arrow-right:before {
      font-family: icomoon !important;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      content: "\ea3c";
    }
  }
}
