/* ------------------------------------------------------

Banner:

------------------------------------------------------ */

//This class is used on the banner divison
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
  //gap: 20px;
  height: 550px;
  background-image: url("/img/netmatter02.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: $white;

  @include s-e(container) {
    display: flex;
    margin-top: 220px;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .h1 {
    flex: 2 0 calc(20% - 20px);
  }

  p {
    margin-top: 20px;
    font-size: 1.25rem;
    font-weight: 600;
    flex: 2 0 calc(20% - 20px);
  }

  img {
    object-fit: cover;
  }

  .btn-container {
    flex: 1 0 calc(30% - 20px);
    margin-top: 25px;
  }

  .btn {
    @extend %btn;
    padding: 10px 20px 10px 20px;
    background-color: map-get($color-map, web-design);
    border-color: map-get($color-map, web-design);
    font-size: 1.25rem;

    &:hover {
      background-color: darken(map-get($color-map, web-design), 10%);
      border-color: darken(map-get($color-map, web-design), 10%);
    }

    div {
      margin-top: 5px;
      display: inline;
      position: relative;
      margin-left: 5px;
      top: 1px;
    }

    .arrow-right:before {
      font-family: icomoon !important;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      content: "\ea3c";
    }
  }
  @include s-e(nav) {
    flex: 1 0 calc(70% - 20px);

    @include s-e(container) {
      margin-top: 90px;
      display: flex;
      gap: 25px;
    }

    @include s-e(dot) {
      display: inline-block;
      height: 10px;
      width: 10px;
      background-color: #bbb;
      border-radius: 50%;

      &:hover {
        background-color: #fff;
      }
    }

    .selected {
      background-color: #fff;

      span:after {
        content: "O";
      }
      span {
        position: relative;
        right: 6.35px;
        top: -10.4px;
        font-size: 29px;
      }
    }

    .selected-dot {
    }
  }
}

@include mq(large) {
  .banner {
    background: url("/img/netmatter02.jpg"),
      linear-gradient(270deg, transparent 25%, #000);
    background-position: center;
    background-size: cover;
    z-index: 3;
    width: 100%;

    p {
      text-align: left;
      font-size: 1.625rem;
      line-height: 2.5rem;
    }

    .h1,
    p,
    .btn-container {
      align-self: flex-start;
    }

    .h1 {
      font-size: 4rem;
    }
  }
}
