/* ------------------------------------------------------

Card:

------------------------------------------------------ */

.service {
  margin-top: 20px;

  .h1 {
    color: $tuna;
    font-weight: 600;
    font-size: 2.7rem;
  }
}

.card {
  display: block;

  /*
  display: flex;
  justify-content: center;
  */
  margin-top: 30px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-align: center;

  @include s-e("element") {
    padding-left: 15px;
    padding-right: 15px;

    //I feel like this doesn't need to be at root, in the future I want to find a different solution as I hate using roots and globals
    //This uses a mixin to assign each one of the cards their respective colors and icon
    @at-root {
      .bespoke {
        @include card-type(bespoke);
      }
      .it {
        @include card-type(it);
      }
      .marketting {
        @include card-type(marketting);
      }
      .telecoms {
        @include card-type(telecoms);
      }
      .web {
        @include card-type(web);
      }
      .cyber {
        @include card-type(cyber);
      }
      .developer {
        @include card-type(developer);
      }
    }

    span {
      display: block;
    }

    .icon {
      height: 65px;
      width: 65px;
      margin: 0 auto 17px;
      border-radius: 50%;
      background-color: $tuna;
      color: #fff;
    }

    [class*="icon-"] {
      font-family: icomoon !important;
      font-weight: 400;
      font-size: 2rem;
      text-align: center;
      line-height: 62px;
    }

    .btn {
      display: inline-block;
      vertical-align: middle;
      border: 1px solid transparent;
      color: #fff;
      font-weight: 400;
      //line-height: 35px;
      cursor: pointer;

      @at-root (with: media) {
        &-container {
        }
      }
    }

    h2 {
      position: relative;
      margin: 0 0 11px;
      padding-bottom: 10px;
      font-size: 1.3rem;
      font-weight: 400;
      color: $tuna;
    }

    p {
      margin-bottom: 13px;
      margin-top: 0;
      font-size: 0.8125rem;
      font-weight: 400;
      line-height: 1.375rem;
      color: $tuna;
    }
  }
}

//This section applies to the 'view our work' part at the bottom of 'Our Services,
.service-all {
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  //margin: 30px auto -70px;
  margin-top: 30px;

  a {
    text-decoration: none;
    font-weight: 600;
    color: $tuna;
  }

  .arrow-right:before {
    font-family: icomoon !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\ea3c";
  }
}
