/* ------------------------------------------------------

Card:

------------------------------------------------------ */

.card {
  @extend %center;
  display: block;
  width: 800px;
  text-align: center;
}
