/* ------------------------------------------------------

Manage Consent:

------------------------------------------------------ */

.manage-consent {
  display: block;
  button {
    position: fixed;
    padding: 0 10px;
    bottom: 0;
    left: 0;
    z-index: 10;
    border: solid #75788a;
    border-width: 1px 1px 0 0;
    border-radius: 0;
    border-top-right-radius: 10px;
    background-color: #75788a;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 22px;
    color: $white;
    cursor: pointer;

    &:hover {
      background-color: lighten(#75788a, 10%);
      border-color: lighten(#75788a, 10%);
    }
  }
}
