/* ------------------------------------------------------

Contact (page) section:

------------------------------------------------------ */

.contact {
  @include s-e(email) {
    font-weight: 600;
    font-size: 1.625rem;
    color: map-get($color-map, web-design);
  }

  @include s-e(text) {
    line-height: 1.875rem;
    font-size: 1rem;
    font-weight: 600;
    color: $tuna;
  }

  @include s-e(form) {
    padding: 30px;
    border-radius: 10px;
    background-color: #e6e7e9;

    label {
      font-weight: 600;
      color: #333645;
    }

    input {
      height: 47px;
      padding: 5px 15px;
      margin-bottom: 15px;
      border-color: #ccc;
      width: 100%;
      background-color: #fff;
      background-image: none;
      border: 1px solid #e5e5e5;
      border-radius: 2px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    textarea {
      display: block;
      width: 100%;
      min-height: 100px;
      height: 100px;
      padding: 5px 15px;
      margin-bottom: 15px;
      border-color: #ccc;
      background-color: #fff;
      background-image: none;
      border: 1px solid #e5e5e5;
      border-radius: 2px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }
}
