/* ------------------------------------------------------

Email Newsletter Sign-up:

------------------------------------------------------ */

//Main container for newsletter section
.newsletter {
  background-color: #ddd;

  //Sign-up heading
  h2 {
    margin: 0 0 15px;
    font-size: 2rem;
    font-weight: 400;
    color: $tuna;
  }

  //Main sign-up form
  form {
    padding: 50px 0;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: 600;
    }

    input {
      height: 47px;
      width: 100%;
      padding-left: 10px;
    }

    div:has(label) {
      margin-bottom: 15px;
    }
  }

  //Basically does the same as form selector
  .form-sign-up {
    //Container for all sign-up fields
    @include s-e(fields) {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      @media (max-width: 991px) {
        //Temp fix, I don't really want to be using a media query here
        gap: 0;
      }
    }

    //Establishes groups for each form element
    @include s-e(group) {
      flex: 1 1 450px;
      gap: 0px;
    }
  }

  .btn {
    @extend %btn;
    background-color: #333645;
    border-color: #333645;

    &:hover {
      background-color: darken(#333645, 10%);
    }
  }
}

//Checkbox styling
.checkbox-container {
  display: flex;
  flex-direction: row;
}

.checkbox-draw {
  margin-bottom: 0;
  margin-right: 20px;
  flex: 0 0 32px;
  position: relative;
  z-index: 1;
  width: 32px;
  height: 32px;
  float: left;
  border: 3px solid $tuna;

  .check {
    visibility: hidden;
    top: -11px;
    left: -1.5px;
    height: 48px;
    width: 30px;
    position: absolute;
    float: left;
    border-radius: 3px;
    accent-color: $tuna;
  }

  .icon-checkmark {
    display: none;
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 20px;
    color: black;
  }

  @include s-e(checked) {
    display: none;
    background-color: $tuna;
  }

  @include s-e(unchecked) {
    display: block;
  }
}

// Trial and error...
// .checkbox-container:active {
//   .checkbox-draw__unchecked {
//     display: none;
//   }

//   .checkbox-draw__checked {
//     display: block;
//   }
// }
// .checkbox-draw__checked:hover {
//   display: none;

//   .checkbox-draw__unchecked {
//     display: block;
//   }
// }

.check:checked {
  visibility: visible;
}

input {
  display: flex;
}
