/* ------------------------------------------------------

Header:

------------------------------------------------------ */

.header {
  //padding: 20px 0;
  padding: 20px 0 0 0;

  form {
    margin-top: 11px;

    input {
      display: inline-block;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      border: 2px solid rgba(0, 0, 0, 0.1);
      height: 47px;
      color: #555;
      padding: 5px 40px 5px 15px;
      line-height: 1.42857143;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      margin-bottom: 20px;
    }
    button {
      position: absolute;
      right: 20px;
      background: none;
      border: none;
      line-height: 47px;
      font-size: 20px;
      color: $tuna;
      outline: none;
    }
    .icon-search:before {
      font-family: icomoon !important;
      position: relative;
      content: "\e986";
    }
  }

  .logo {
    max-width: 100%;
  }

  // .row {
  //   display: flex;
  //   gap: 20px;
  //   justify-content: space-between;
  //   height: 70px;
  //   align-items: center;
  //   vertical-align: middle;

  //   .phone,
  //   .hamburger {
  //   }
  // }

  .row {
    display: table;
  }

  .row > * {
    padding: 0;
    display: table-cell;
    float: none;
    vertical-align: middle;
    width: 100%;
  }

  .icon-phone {
    margin-left: 15px;
  }

  button {
    margin-left: 20px;
  }

  .logo {
    img {
      display: block;
      max-width: 100%;
    }
  }

  .phone {
    margin-bottom: 8px;
    .icon-phone:before {
      font-family: icomoon !important;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      content: "\e901";
    }
  }

  .hamburger {
    float: right;
    padding: 7px 0;
    button {
      height: 56px;
      padding: 10px 15px 5px 15px;
      background-color: $tuna;
      border-color: $tuna;
    }
    .icon-burger:before {
      font-family: icomoon !important;
      font-size: 2rem;
      font-style: normal;
      font-weight: 900;
      font-variant: normal;
      text-transform: none;
      content: "\e913";
      color: white;
    }
  }
}
