/* ------------------------------------------------------

Navigation:

------------------------------------------------------ */

//Main navigation container
.navigation {
  display: none;
  background-color: $tuna;

  @include mq(large) {
    display: flex;
  }
}

//Navigation wrapper
.nav {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;

  //Main navigation is invisble until viewport is large enough
  @include mq(large) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    //gap: 20px;
  }

  //Applies to each nav item
  &__item {
    width: 40%;
    max-width: 40%;
    padding: 0 25px;
    align-items: center;
    line-height: 1;

    &:hover {
      [class*="nav-icon"] {
        color: $white;
      }
    }

    li {
      margin: 20px;
      flex: 1 calc((100% - 0px * (7 - 1)) / 7);
    }

    a {
      display: block;
      padding: 19px 0 18px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.125rem;
      color: #fff;
      user-select: none;
    }

    small {
      display: block;
      text-align: center;
      font-size: 0.625rem;
    }

    [class*="nav-icon"] {
      font-family: icomoon !important;
      display: block;
      padding-bottom: 10px;
      text-align: center;
      font-size: 1.438rem;
    }
  }
  .n-bespoke {
    @include nav-type(bespoke);
  }
  .n-it {
    @include nav-type(it);
  }
  .n-marketting {
    @include nav-type(marketting);
  }
  .n-telecoms {
    @include nav-type(telecoms);
  }
  .n-web {
    @include nav-type(web);
  }
  .n-cyber {
    @include nav-type(cyber);
  }
  .n-developer {
    @include nav-type(developer);
  }
}
