/* ------------------------------------------------------

Navigation:

------------------------------------------------------ */

//Navigation wrapper
.nav {
  display: none;

  @include mq(large) {
    display: flex;
  }
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-between;
  gap: 20px;
  &__item {
    align-items: center;
  }

  ul li {
    flex: 1 calc((100% - 0px * (7 - 1)) / 7);
    margin: 20px;
  }

  a {
    position: relative;
    display: block;
    color: #fff;
    padding: 19px 0 18px;
    text-transform: uppercase;
  }

  small {
    display: block;
    text-align: center;
    font-size: 6px;
  }

  a span {
    display: block;
    padding-bottom: 10px;
    text-align: center;
  }
}

.navigation {
  display: flex;
  background-color: $tuna;
}
