/* ------------------------------------------------------

Navigation:

------------------------------------------------------ */

//Main navigation container
.navigation {
  display: flex;
  background-color: $tuna;
}

//Navigation wrapper
.nav {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;

  //Main navigation is invisble until viewport is large enough
  @include mq(large) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
  }

  //Applies to each nav item
  &__item {
    align-items: center;

    li {
      margin: 20px;
      flex: 1 calc((100% - 0px * (7 - 1)) / 7);
    }

    a {
      display: block;
      padding: 19px 0 18px;
      position: relative;
      text-transform: uppercase;
      font-size: 1.125rem;
      color: #fff;
    }

    small {
      display: block;
      text-align: center;
      font-size: 0.625rem;
    }

    [class*="nav-icon"] {
      font-family: icomoon !important;
      display: block;
      padding-bottom: 10px;
      text-align: center;
      font-size: 1.438rem;
    }
  }
  .bespoke {
    @include nav-type(bespoke);
  }
  .it {
    @include nav-type(it);
  }
  .marketting {
    @include nav-type(marketting);
  }
  .telecoms {
    @include nav-type(telecoms);
  }
  .web {
    @include nav-type(web);
  }
  .cyber {
    @include nav-type(cyber);
  }
  .developer {
    @include nav-type(developer);
  }
}
