/* ------------------------------------------------------

Sidebar:

------------------------------------------------------ */

.sidebar {
  position: fixed;
  z-index: 10000;
  height: 100vh;
  width: 275px;
  top: 0;
  right: -100%;
  background-color: $tuna;
  color: $white;
  text-transform: uppercase;
  transition: all 0.5s;
  overflow: auto;

  ul {
    padding-left: 0px;
    margin: 0;

    &:hover {
      .sidebar__heading {
        background-color: hsla(0, 0%, 100%, 0.05) !important;
      }
      cursor: pointer;
    }
  }

  li {
    display: block;
    padding: 17.5px 20px 17.5px 20px;
    background-color: #262834;
    border-top: 1px solid hsla(0, 0%, 100%, 0.05);
    list-style-type: none;
    font-size: 0.875rem;
  }

  ul li:not(.sidebar__heading)::before {
    content: "» ";
    padding-right: 15px !important;
  }

  @include s-e("heading") {
    padding: 20px 20px !important;
    background-color: #333645 !important;
    line-height: 1rem;
    font-size: 1rem !important;
    h4 {
      font-weight: 400;
    }
  }

  @include s-e("section") {
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }

  @include s-m("inner") {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  }

  a {
    text-decoration: none;
    color: $white;
  }
}

.sidebar-reveal {
  right: 0;
}

.sidebar-push {
  position: relative;
  left: -275px;
}

.main-content {
  overflow: hidden;
  left: 0;
  transition: all 0.5s;
}

@include mq(large) {
  .sidebar-push {
    left: -350px;
  }

  .sidebar {
    width: 350px;
  }
}
