/* -----------------------------------------------------

Slide show section:

------------------------------------------------------ */

//Slideshow section container
.slideshow {
  display: flex;
  gap: 90px;
  overflow-x: clip;
  object-fit: fill;
  align-items: center;

  //Each individal slikdeshow item:
  @include s-e("item") {
    display: flex;
    position: relative;
    height: 70px;
    @include s-e("img") {
      //max-height: auto; //(Apparently this doesn't do anything)
      max-height: 100%;
      width: auto;
      align-self: center;
      filter: grayscale(1);
    }

    @include s-e("description") {
      display: none;
      position: absolute;

      left: -200px;
      right: -200px;
      bottom: 100%;
      margin-bottom: 0px;
      z-index: 4444;
    }

    &:hover {
      .slideshow__item__description {
        display: block;
      }

      .slideshow__item__img {
        filter: grayscale(0);
      }
    }
  }

  @at-root {
    .slideshow-padding {
      padding: 50px 0px;
    }
  }
}

.height {
  height: 70px;
}

.box {
  user-select: auto;
  padding: 20px;
  margin: 0 auto 25px;
  font-size: 16px;
  background-color: $tuna;
  max-width: 280px;
  text-align: center;
  color: white;
}

.arrow {
  position: absolute;
  left: 49.5%;
  bottom: -0%;
  margin-left: -36px;
  z-index: 2000;
}

.arrow::after {
  display: inline-block;
  border-style: solid;
  border-width: 30.5px 40.5px 0px 40.5px;
  border-color: #333645 transparent transparent;
  content: " ";

  // content: "";
  // margin: auto;
  // display: inline-block;
  // border-color: #333645 transparent transparent;
  // border-style: solid;
  // border-width: 35px 36px 0;
  // border-top-width: 35px;
  // border-right-width: 36px;
  // border-bottom-width: 0px;
  // border-left-width: 36px;
}

.btn {
  @extend %btn;
  display: flex;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
}
