/* -----------------------------------------------------

Slide show section:

------------------------------------------------------ */

//Slideshow section container
.slideshow {
  display: flex;
  gap: 90px;
  overflow-x: clip;
  object-fit: fill;
  align-items: center;

  //Each individal slikdeshow item:
  @include s-e("item") {
    @include s-e("img") {
      max-height: auto;
      width: auto;
      filter: grayscale(1);
    }

    @include s-e("description") {
      display: none;
      position: absolute;
      bottom: 100%;
      left: -200px;
      right: -200px;
    }

    &:hover {
      .slideshow__item__description {
        display: block;
        background-color: red;
      }

      .slideshow__img {
        filter: grayscale(0);
      }
    }
  }

  @at-root {
    .slideshow-padding {
      padding: 50px 0px;
    }
  }
}

.height {
  height: 70px;
}

.box {
  user-select: auto;
  padding: 20px;
  margin: 0 auto 50px;
  font-size: 0.875px;
  background-color: $tuna;
  max-width: 280px;
}
