/* -----------------------------------------------------

Welcome to netmatters section:

------------------------------------------------------ */

//This class applies to the welcome section's main div, which wraps the entire section.
.welcome {
  @extend %section;
  background-color: #333645;

  p {
    color: $white;
    margin-bottom: 25px;
  }

  h1,
  .h1 {
    margin-top: -4px;
    margin-bottom: 40px;
    color: $white !important;
  }

  p {
    color: $white;
    margin-bottom: 25px;
  }

  h1,
  .h1 {
    margin-top: -4px;
    margin-bottom: 40px;
    color: $white !important;
  }

  //This is required to keep the stars inline.
  .star {
    display: inline-block;

    //This padds the star content to each star tag (<div>)
    @at-root (with: media) {
      .star:before {
        display: inline-block;
        font-family: icomoon !important;
        color: orange;
        margin-bottom: 25px;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        content: "\e9d9";
      }
    }
  }

  .btn-primary-inverse {
    display: inline-block;
    margin-bottom: 17px !important;
    padding: 10px 30px;
    border-radius: 6px;
    font-size: 20px;
    color: white;
    background-color: #272936;
  }

  .btn-google {
    background-color: map-get($color-map, google);
  }

  .btn-trustpilot {
    background-color: map-get($color-map, trustpilot);
  }

  .btn-margin {
    margin-bottom: 50px !important;
  }

  .arrow-right:before {
    font-family: icomoon !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\ea3c";
  }

  .quote {
    font-weight: 600;
    font-size: 1.3rem;
    font-style: italic;
  }

  .quote-author {
    font-weight: 600;
    color: #a3a8ac;
    font-size: 1.1rem;

    a {
      color: $white;
      text-decoration: none;
    }
  }
}
